 /*Commn Classes for all break point*/
.menu-nav {
    display: inline-block;
}

.header {
    width: 100%;
    height: 50px;
    background: #000;
    padding-top: 10px;
}

/*Mobile footetr CSS*/
footer {
    margin: 0;
}

footer, #footerNav {
    clear: both;
}

footer {
    background: #000;
    display: block;
}

footer #footerNav {
    border-top: 0;
}

#footerNav {
    background-color: #000;
    background-image: -webkit-linear-gradient(top, #3d4d58, #000);
    background-image: -o-linear-gradient(top, #3d4d58, #000);
    background-image: linear-gradient(to bottom, #3d4d58, #000);
    background-repeat: repeat-x;
    border-top: 1px solid #131313;
    height: 40px;
}

#footerNav div:first-child {
    border-left: none;
}

#footerNav .ui-block-a, #footerNav .ui-block-b, #footerNav .ui-block-c {
    border-left: 1px solid #546d7b;
    border-right: 1px solid #303d45;
    margin: 0;
    min-height: 1px;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 33.333333333333% !important;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}

.row-fluid-nowrap:before, .row-fluid:before, .row-fluid-nowrap:after, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid-nowrap:before, .row-fluid:before, .row-fluid-nowrap:after, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

#footerNav > div > a:link {
    display: block;
    margin: 0;
    width: 100%;
    padding: 16px 0 11px;
}

#footerNav a:link {
    margin: 0;
    padding: 10px 2px 9px;
}

#footerNav a:link, #footerNav a:visited {
    color: #D8D8D8;
    font-size: 85%;
    font-weight: 400;
    line-height: 12px;
}

a {
    color: #0574ac;
    text-decoration: none;
}

.row-fluid-nowrap:after, .row-fluid:after {
    clear: both;
}

#footerBtm {
    background-color: #000;
    padding: 10px 15px 26px;
}

#footerBtm ul {
    margin: 0 auto;
    padding: 0;
    clear: both;
    height: 30px;
}

#footerBtm li:first-child {
    padding-left: 0;
}

#footerBtm li {
    display: inline-block;
    float: left;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
    padding: 0;
    position: relative;
    text-align: left;
    border-right: none !important;
}

#footerBtm li a:link, #footerBtm li a:visited {
    color: #FFF !important;
    display: inline-block;
    font-size: 11px;
    line-height: 32px;
    vertical-align: middle;
}

#footerBtm li:after {
    border-right: 1px solid #999;
    content: "";
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    width: 0;
    position: relative;
    top: 8px;
}

#footerBtm li:last-child:after {
    border-right: none;
}

#footerBtm p:last-child {
    margin: 0;
}

#footerBtm p {
    clear: both;
    font-size: 10px;
    color: #999;
    padding-top: 0;
    line-height: 20px;
}

.paddLR30 {
    padding: 0px 30px !important;
}

.txtSize3 {
    font-size: 2.8rem !important;
}

/*Extra Small Break point*/
@media only screen and (max-width: 480px) {

    .paddLeft10 {
        padding-left: 10px !important;
    }

}

/*Extra Small Break point*/
@media only screen and (min-width: 481px) and (max-width: 767px) {

}

/*Small Break point*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/*Medium Break point*/
@media only screen and (min-width: 1025px) {
    .paddL20 {
        padding-left: 20px !important;
    }

    .global-auto-width {
        width: 90%;
        margin: auto;
    }

    .pipe {
        display: inline-block;
        padding: 0px 5px;
        color: #0568ae;
        font-size: 1.5em;
        padding: 5px 15px 0 5px;
    }

    .textSize1 {
        font-size: 1.4rem;
    }

    .nav-search-box {
        height: 30px !important;
        margin-top: 4px;
        width: 250px;
    }

    .menu-nav {
        margin-top: -4px;
    }

    .desktop-text-left {
        text-align: left !important;
    }

    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

    /* style icon */
    .inner-addon .icon-controls-magnifyingglass {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    /* align icon */
    .right-addon .icon-controls-magnifyingglass {
        right: 10px;
    }

    .inner-addon input {
        background-color: #000;
        border-color: #ccc;
    }

    .inner-addon input:active, .inner-addon input:focus {
        background-color: #fff;
        border-color: #ccc;
    }

}

@media only screen and (min-width: 1025px)and (max-width: 1100px) {
    .paddL20 {
        padding-left: 0px !important;
    }

    .global-auto-width {
        width: 95%;
        margin: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .global-auto-width {
        width: 1200px;
        margin: auto;
    }

}
